.navbar {
    background-color: rgba(143, 143, 143, 0.651);
    height: 110px;
    display: flex;
    justify-content: space-between;
}

.cart {
    height: 50px;
    margin: 30px;
}

.categories{
    height: 50px;
    margin: 30px;
}

.admin{
    width: 50px;
    height: 50px;
    margin: 30px;
}

.logo{
    height: 110px;
}

.cart:hover, .categories:hover{
    height: 60px;
}